div {
    background-color: rgb(255, 255, 255);
    width: 300px;
    border: 25px solid rgb(104, 104, 104);
    padding: 25px;
    margin: 0px;
    align-items: left;
    align-content: left;
}

p.outset {
    border-style: outset;
}